flows/ContactOwner-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_contact_owner_found</name>
        <label>Is contact owner found?</label>
        <locationX>148</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Owner_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Owner</targetReference>
            </connector>
            <label>Owner found</label>
        </rules>
    </decisions>
    <interviewLabel>ContactOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactOwner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupContactOwner</name>
        <label>LookupContactOwner</label>
        <locationX>243</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_contact_owner_found</targetReference>
        </connector>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClusterRoleID</elementReference>
            </value>
        </filters>
        <object>Contact_Owners__c</object>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>ContactOwnerID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Owner</name>
        <label>Update Contact Owner</label>
        <locationX>248</locationX>
        <locationY>352</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>LookupContactOwner</startElementReference>
    <variables>
        <name>ClusterRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
