flows/HS_Event_Event_Invites-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddtoCollection</name>
        <label>AddtoCollection</label>
        <locationX>427</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>YPAttendanceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>YPAttendancePopul</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrepForAttendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChooseAttendanceValues</name>
        <label>ChooseAttendanceValues</label>
        <locationX>374</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>YPAttendancePopul.HS_Event_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventPicked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YPAttendancePopul.HS_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopedThroughHSA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YPAttendancePopul.YP_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopedThroughHSA.HS_Application_form_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_HSA</name>
        <label>Collect HSA</label>
        <locationX>245</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>CollectHSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSActivityID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_HSA_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Picked</name>
        <label>EventPicked</label>
        <locationX>29</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>EventPicked</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectEventDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Records_passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First15_Characters</name>
        <label>First15 Characters</label>
        <locationX>236</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>First15Characters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_15_Characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_15_Characters</name>
        <label>Remove 15 Characters</label>
        <locationX>241</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>txtSelectedRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove15Characters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Records_passed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Records_passed</name>
        <label>All Records passed?</label>
        <locationX>30</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>First15_Characters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtSelectedRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_HSA_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>At this point Flow works. Fine, giving it visual touch.</description>
    <dynamicChoiceSets>
        <name>SelectEventDay</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Event_Day_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Day_Date</elementReference>
            </value>
        </filters>
        <object>HS_Event_Day__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>First15Characters</name>
        <dataType>String</dataType>
        <expression>LEFT({!txtSelectedRecords},15)</expression>
    </formulas>
    <formulas>
        <name>Remove15Characters</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!txtSelectedRecords}, LEFT({!txtSelectedRecords},15),NULL)</expression>
    </formulas>
    <interviewLabel>HS Event Invites Final Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HS Event Invites Final Version</label>
    <loops>
        <name>Loop_HSA_Ids</name>
        <label>Loop HSA Ids</label>
        <locationX>26</locationX>
        <locationY>607</locationY>
        <assignNextValueToReference>HSActivityIds</assignNextValueToReference>
        <collectionReference>SelectedRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_HSA_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PrepForAttendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PrepForAttendance</name>
        <label>PrepForAttendance</label>
        <locationX>172</locationX>
        <locationY>814</locationY>
        <assignNextValueToReference>LoopedThroughHSA</assignNextValueToReference>
        <collectionReference>CollectHSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HSAEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateYPAttendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateYPAttendance</name>
        <label>CreateYPAttendance</label>
        <locationX>27</locationX>
        <locationY>910</locationY>
        <connector>
            <targetReference>Records_Created</targetReference>
        </connector>
        <inputReference>YPAttendanceCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindEvents</name>
        <label>FindEvents</label>
        <locationX>30</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EventSelection</targetReference>
        </connector>
        <filters>
            <field>Event_Day_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Day_Date</elementReference>
            </value>
        </filters>
        <object>HS_Event_Day__c</object>
        <outputReference>SObjectVar</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_HSA_IDs</name>
        <label>Get HSA IDs</label>
        <locationX>244</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_HSA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HSActivityIds</elementReference>
            </value>
        </filters>
        <object>HS_Activity__c</object>
        <outputReference>HSActivityID</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>HSAEmail</name>
        <label>HSAEmail</label>
        <locationX>212</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseAttendanceValues</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopedThroughHSA.Id</elementReference>
            </value>
        </filters>
        <object>HS_Activity__c</object>
        <outputReference>LoopedThroughHSA</outputReference>
        <queriedFields>HS_Application_form_Email__c</queriedFields>
    </recordLookups>
    <screens>
        <name>EventSelection</name>
        <label>EventSelection</label>
        <locationX>26</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Event_Picked</targetReference>
        </connector>
        <fields>
            <name>EventsFound</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Following Event Days for {!Event_Day_Date} have been found&lt;/B&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Event_Day</name>
            <choiceReferences>SelectEventDay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Event Day&lt;/B&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Records_Created</name>
        <label>Records Created</label>
        <locationX>44</locationX>
        <locationY>1057</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordsCreated</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Young People successfully invited!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click &lt;/B&gt;&lt;FONT COLOR=&quot;#00CCCC&quot;&gt;&lt;A HREF=&quot;https://na8.salesforce.com/a2O?fcf=00BC0000009RfF6&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;here&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;B&gt; to go back to HS Activities.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SelectDate</name>
        <label>SelectDate</label>
        <locationX>28</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindEvents</targetReference>
        </connector>
        <fields>
            <name>WelcomeMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please choose the date of the event you are looking for.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Day_Date</name>
            <dataType>Date</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Event Day Date&lt;/B&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>SelectDate</startElementReference>
    <variables>
        <name>CollectHSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Activity__c</objectType>
    </variables>
    <variables>
        <name>EventPicked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HSActivityID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Activity__c</objectType>
    </variables>
    <variables>
        <name>HSActivityIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HSAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HSEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDsHSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopedThroughHSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Activity__c</objectType>
    </variables>
    <variables>
        <name>NewHSAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjectVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Event_Day__c</objectType>
    </variables>
    <variables>
        <name>TODAY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TODAY()</stringValue>
        </value>
    </variables>
    <variables>
        <name>txtSelectedRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YPAttendanceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_YP_Attendance__c</objectType>
    </variables>
    <variables>
        <name>YPAttendancePopul</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_YP_Attendance__c</objectType>
    </variables>
</Flow>
