flows/HS_Partner_Event_Invite-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>297</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>HSPECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSPEPopul</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Engagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Engagement_IDs</name>
        <label>Collect Engagement IDs</label>
        <locationX>294</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>HSEngagementIDColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HSEngagementID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Engagement_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_15_Characters</name>
        <label>Copy 15 Characters</label>
        <locationX>296</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>CollectedEgagIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy15characters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove15charactersP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pick_Attendance_Values</name>
        <label>Pick Attendance Values</label>
        <locationX>363</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>HSPEPopul.Event_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickedEventID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HSPEPopul.Partner_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopedThroughHSPE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HSPEPopul.Partner_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopedThroughHSPE.Account_main_email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove15charactersP</name>
        <label>Remove15characters</label>
        <locationX>300</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>txtSelectedRecordsP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove15characters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sorting_Engagement_IDs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sorting_Engagement_IDs</name>
        <label>Sorting Engagement IDs</label>
        <locationX>46</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Copy_15_Characters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>txtSelectedRecordsP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engagement_IDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FindingCorrectEvent</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Event_Day_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_a_date_of_the_event</elementReference>
            </value>
        </filters>
        <object>HS_Event_Day__c</object>
        <outputAssignments>
            <assignToReference>PickedEventID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Copy15characters</name>
        <dataType>String</dataType>
        <expression>LEFT({!txtSelectedRecordsP},15)</expression>
    </formulas>
    <formulas>
        <name>Remove15characters</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!txtSelectedRecordsP},LEFT({!txtSelectedRecordsP},15),NULL)</expression>
    </formulas>
    <interviewLabel>HS Partner Event Invite Final Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HS Partner Event Invite Final Version</label>
    <loops>
        <name>Get_Engagement_IDs</name>
        <label>Get Engagement IDs</label>
        <locationX>50</locationX>
        <locationY>480</locationY>
        <assignNextValueToReference>HSEngagementIDs</assignNextValueToReference>
        <collectionReference>CollectedEgagIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Engagement_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Prepare_Engagement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prepare_Engagement</name>
        <label>Prepare Engagement</label>
        <locationX>103</locationX>
        <locationY>679</locationY>
        <assignNextValueToReference>LoopedThroughHSPE</assignNextValueToReference>
        <collectionReference>HSEngagementIDColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_HSPE_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Partner_Attendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Attendance</name>
        <label>Create Partner Attendance</label>
        <locationX>8</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Created_Records</targetReference>
        </connector>
        <inputReference>HSPECollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Engagement_IDs</name>
        <label>Find Engagement IDs</label>
        <locationX>295</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Engagement_IDs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HSEngagementIDs</elementReference>
            </value>
        </filters>
        <object>HS_Partner_Engagement__c</object>
        <outputReference>HSEngagementID</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_HSPE_Email</name>
        <label>Find HSPE Email</label>
        <locationX>172</locationX>
        <locationY>857</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_Attendance_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopedThroughHSPE.Id</elementReference>
            </value>
        </filters>
        <object>HS_Partner_Engagement__c</object>
        <outputReference>LoopedThroughHSPE</outputReference>
        <queriedFields>Account_main_email__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Choose_Event</name>
        <label>Choose Event</label>
        <locationX>48</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sorting_Engagement_IDs</targetReference>
        </connector>
        <fields>
            <name>PartnerDateInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Following events were found for {!Choose_a_date_of_the_event}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pick_an_event</name>
            <choiceReferences>FindingCorrectEvent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Pick an event&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Created_Records</name>
        <label>Created Records</label>
        <locationX>6</locationX>
        <locationY>937</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreatedRecords</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Successfully invited!&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click &lt;/B&gt;&lt;A HREF=&quot;https://na8.salesforce.com/a3i?fcf=000000000000000&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;here&lt;/B&gt;&lt;/A&gt;&lt;B&gt; to go back to HS Partner Engagement.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Pick_a_date</name>
        <label>Pick a date</label>
        <locationX>43</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Event</targetReference>
        </connector>
        <fields>
            <name>Choose_a_date_of_the_event</name>
            <dataType>Date</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#333333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Choose a date of the event&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Pick_a_date</startElementReference>
    <variables>
        <name>CollectedEgagIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HSEngagementID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Partner_Engagement__c</objectType>
    </variables>
    <variables>
        <name>HSEngagementIDColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Partner_Engagement__c</objectType>
    </variables>
    <variables>
        <name>HSEngagementIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HSPECollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Partner_Attendance__c</objectType>
    </variables>
    <variables>
        <name>HSPEPopul</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Partner_Attendance__c</objectType>
    </variables>
    <variables>
        <name>LoopedThroughHSPE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Partner_Engagement__c</objectType>
    </variables>
    <variables>
        <name>PartnerAttendanceColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Partner_Engagement__c</objectType>
    </variables>
    <variables>
        <name>PickedEventID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HS_Event_Day__c</objectType>
    </variables>
    <variables>
        <name>txtSelectedRecordsP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
