flows/NCS_Sales_Tracker_Update_EOIs-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_1_to_EOI</name>
        <label>Add 1 to EOI</label>
        <locationX>497</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>EOI</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_INC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_yesterday_s_date</name>
        <label>Find yesterday&apos;s date</label>
        <locationX>337</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>Yesterday</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_existing_Sales_Tracker_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_an_existing_Sales_tracker</name>
        <label>Is there an existing Sales tracker?</label>
        <locationX>521</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Create_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sales_Tracker_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrackerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tracker_with_EOIs</targetReference>
            </connector>
            <label>Sales Tracker found</label>
        </rules>
    </decisions>
    <formulas>
        <name>NameTracker</name>
        <dataType>String</dataType>
        <expression>LEFT({!SchoolName},40)&amp;TEXT(DAY({!$Flow.CurrentDate}))&amp;&quot;/&quot;&amp;TEXT(MONTH({!$Flow.CurrentDate}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>NCS Sales Tracker Update EOIs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCS Sales Tracker Update EOIs</label>
    <loops>
        <name>Loop_through_INC</name>
        <label>Loop through INC</label>
        <locationX>341</locationX>
        <locationY>257</locationY>
        <assignNextValueToReference>INC</assignNextValueToReference>
        <collectionReference>AllINC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_EOI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_yesterday_s_date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tracker</name>
        <label>Create Tracker</label>
        <locationX>724</locationX>
        <locationY>410</locationY>
        <assignRecordIdToReference>TrackerID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_School_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOIs__c</field>
            <value>
                <elementReference>EOI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TrackerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Activity__c</field>
            <value>
                <elementReference>SchoolActivityID</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Collect_all_Inclusion_details_for_EOI</name>
        <label>Collect all Inclusion details for EOI</label>
        <locationX>213</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_INC</targetReference>
        </connector>
        <filters>
            <field>Contact_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Young Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DateSalesTrackingCommences</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_Identifier__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SchoolID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeasonName</elementReference>
            </value>
        </filters>
        <object>Inclusion_Details__c</object>
        <outputReference>AllINC</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_existing_Sales_Tracker_Record</name>
        <label>Find existing Sales Tracker Record</label>
        <locationX>339</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_existing_Sales_tracker</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolActivityID</elementReference>
            </value>
        </filters>
        <object>Sales_Tracker__c</object>
        <outputAssignments>
            <assignToReference>TrackerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_School_Activity</name>
        <label>Update School Activity</label>
        <locationX>914</locationX>
        <locationY>502</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolActivityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Sales_Tracker_last_refreshed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>School_Activities__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tracker_with_EOIs</name>
        <label>Update Tracker with EOIs</label>
        <locationX>712</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>Update_School_Activity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOIs__c</field>
            <value>
                <elementReference>EOI</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordUpdates>
    <startElementReference>Collect_all_Inclusion_details_for_EOI</startElementReference>
    <variables>
        <name>AllINC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>DateSalesTrackingCommences</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EOI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>INC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>SchoolActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrackerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrackerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
