flows/NCS_EOI_Form-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Autumn_2017</name>
        <choiceText>Autumn 2017</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autumn 2017</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Miss</name>
        <choiceText>Miss</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Summer_2017</name>
        <choiceText>Summer 2017</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Summer 2017</stringValue>
        </value>
    </choices>
    <choices>
        <name>YP_Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>YP_Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>FromRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>From_Relationship_Entity__c</picklistField>
        <picklistObject>Relationship__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ToRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>To_Relationship_Entity__c</picklistField>
        <picklistObject>Relationship__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ToRelatioshipPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>To_Relationship_Entity__c</picklistField>
        <picklistObject>Relationship__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>NCS EOI Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCS EOI Form</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Relationship_between_YP_and_PG</name>
        <label>Create Relationship between YP and PG</label>
        <locationX>455</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Relationship_Type__c</field>
            <value>
                <elementReference>FirstRelationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Individual__c</field>
            <value>
                <elementReference>YPAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Relationship_Entity__c</field>
            <value>
                <elementReference>FromRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Relationship__c</field>
            <value>
                <elementReference>KeyRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>YP_Surname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Relationship_Type__c</field>
            <value>
                <elementReference>SecondRelationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Individual__c</field>
            <value>
                <elementReference>PGAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Relationship_Entity__c</field>
            <value>
                <elementReference>ToRelationship</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship__c</object>
    </recordCreates>
    <recordCreates>
        <name>Family_Account</name>
        <label>Family Account</label>
        <locationX>433</locationX>
        <locationY>45</locationY>
        <assignRecordIdToReference>AccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Account_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>YP_Surname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FamilyAcountRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>PG_Contact_Account</name>
        <label>PG Contact Account</label>
        <locationX>800</locationX>
        <locationY>381</locationY>
        <assignRecordIdToReference>PGAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Relationship_between_YP_and_PG</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Parent_Guardian_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Parent_Guardian_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_name_unclear__c</field>
            <value>
                <elementReference>PG_First_Name_Unclear_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Parent_Guardian_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_name_unclear__c</field>
            <value>
                <elementReference>Parent_Guardian_Last_Name_Unclear_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Parent_Mobile_Number1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ParentRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>YP_Contact_Account</name>
        <label>YP Contact Account</label>
        <locationX>802</locationX>
        <locationY>224</locationY>
        <assignRecordIdToReference>YPAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>PG_Contact_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_new_notes__c</field>
            <value>
                <elementReference>Notes_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_unclear__c</field>
            <value>
                <elementReference>Home_Address_Unclear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County_region__c</field>
            <value>
                <elementReference>County_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_unclear__c</field>
            <value>
                <elementReference>YPEmail_Address_Unclear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_name_unclear__c</field>
            <value>
                <elementReference>YPFirst_Name_Unclear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>YP_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_done_NCS_before_YP_EOI__c</field>
            <value>
                <elementReference>Have_you_done_NCS_before</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>YP_Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_phone_unclear__c</field>
            <value>
                <elementReference>YP_Home_Phone_Unclear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>YP_Surname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_name_unclear__c</field>
            <value>
                <elementReference>YP_Surname_Unclear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>School paper form (Marketing)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>YP_Mobile_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_unclear__c</field>
            <value>
                <elementReference>YPMobile_Number_Unclear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCS_Application_Primary_Season__c</field>
            <value>
                <elementReference>NCS_Application_Primary_Season</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>YPRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_code__c</field>
            <value>
                <elementReference>School_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Town_City__c</field>
            <value>
                <elementReference>City_Town</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account_Name</name>
        <label>Lookup Account Name</label>
        <locationX>622</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>YP_Contact_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_Record</name>
        <label>New Record</label>
        <locationX>187</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactRecord</name>
            <fieldText>{!YP_Contact_Account}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>P1_Form</name>
        <label>P1 Form</label>
        <locationX>212</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Family_Account</targetReference>
        </connector>
        <fields>
            <name>InformationRequired</name>
            <fieldText>Please fill in as many of the details below so we can start intial registration.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>School_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>School_Code</elementReference>
            </defaultValue>
            <fieldText>School Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NCS_Application_Primary_Season</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NCSPrimaryAppSeason</elementReference>
            </defaultValue>
            <fieldText>NCS Application Primary Season</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_done_NCS_before</name>
            <choiceReferences>Done_Yes</choiceReferences>
            <choiceReferences>Done_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you done NCS before?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YPFirstName</elementReference>
            </defaultValue>
            <fieldText>First name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>YPFirst_Name_Unclear</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>FirstNameUnclear</elementReference>
            </defaultValue>
            <fieldText>First Name Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>YP_Surname</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Surname</elementReference>
            </defaultValue>
            <fieldText>Surname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>YP_Surname_Unclear</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>YPSurnameUnclear</elementReference>
            </defaultValue>
            <fieldText>Surname Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DateOfBirth</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>YP_Gender</name>
            <choiceReferences>YP_Male</choiceReferences>
            <choiceReferences>YP_Female</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YPEmail</elementReference>
            </defaultValue>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>YPEmail_Address_Unclear</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>YPEmailUnclear</elementReference>
            </defaultValue>
            <fieldText>Email Address Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>YP_Mobile_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YP_MobileNumber</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>YPMobile_Number_Unclear</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>YPMobileUnclear</elementReference>
            </defaultValue>
            <fieldText>Mobile Number Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>YP_Home_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YPHomePhone1</elementReference>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>YP_Home_Phone_Unclear</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>YPHomeAddressUnclear</elementReference>
            </defaultValue>
            <fieldText>Home Phone Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YPHomeAddress</elementReference>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_Town</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YPTownCity</elementReference>
            </defaultValue>
            <fieldText>City/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>County_Region</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YPCountyRegion</elementReference>
            </defaultValue>
            <fieldText>County/Region</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>YPPostcode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Home_Address_Unclear</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>YPHomeAddressUnclear</elementReference>
            </defaultValue>
            <fieldText>Home Address Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Parent_Guardian_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PGFirstName</elementReference>
            </defaultValue>
            <fieldText>Parent/Guardian First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PG_First_Name_Unclear_1</name>
            <dataType>Boolean</dataType>
            <fieldText>PG First Name Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Parent_Guardian_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PGLastname</elementReference>
            </defaultValue>
            <fieldText>Parent/Guardian Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Parent_Guardian_Last_Name_Unclear_1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>PGlastNameUnclear</elementReference>
            </defaultValue>
            <fieldText>Parent/Guardian Last Name Unclear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <choiceReferences>Mr</choiceReferences>
            <choiceReferences>Mrs</choiceReferences>
            <choiceReferences>Ms</choiceReferences>
            <choiceReferences>Miss</choiceReferences>
            <choiceReferences>Dr</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_Mobile_Number1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PGMobileNumber1</elementReference>
            </defaultValue>
            <fieldText>Parent Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_Guardian_Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PGEmailAddress</elementReference>
            </defaultValue>
            <fieldText>Parent/Guardian Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes_1</name>
            <defaultValue>
                <elementReference>Notes</elementReference>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>P1_Form</startElementReference>
    <variables>
        <description>Store the Account ID number</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>YP_Surname</elementReference>
        </value>
    </variables>
    <variables>
        <name>DateOfBirth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilyAcountRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012C0000000QaYy</stringValue>
        </value>
    </variables>
    <variables>
        <name>FirstNameUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0vW0000004Bljw</stringValue>
        </value>
    </variables>
    <variables>
        <name>InitialSource</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeyRelationship</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NCSPrimaryAppSeason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Summer 2017</stringValue>
        </value>
    </variables>
    <variables>
        <name>Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012C0000000QaYz</stringValue>
        </value>
    </variables>
    <variables>
        <name>ParticipateYes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PGAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PGEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PGFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PGFirstNameUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PGLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PGlastNameUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PGMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PGMobileNumber1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Season</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Summer_2017</elementReference>
        </value>
    </variables>
    <variables>
        <name>SecondRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0vW0000004Bljr</stringValue>
        </value>
    </variables>
    <variables>
        <name>Surname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YP_MobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YPAddressUnclear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPCountyRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPEmailUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPHomeAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Second Address line</description>
        <name>YPHomeAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPHomeAddressUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPHomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPHomePhone1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPHomePhoneUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPMobileUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012C0000000QaZ0</stringValue>
        </value>
    </variables>
    <variables>
        <name>YPResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPSeason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPSurnameUnclear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YPTownCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
