flows/NCS_Sales_Tracker_Update_SU_Paid-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_1_to_Paid</name>
        <label>Add 1 to Paid</label>
        <locationX>407</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>Paid</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Yesterday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindYesterday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_YP_an_SU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_SU</name>
        <label>Add 1 to SU</label>
        <locationX>620</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>SU</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Paid</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_YP_an_SU</name>
        <label>Is YP an SU</label>
        <locationX>618</locationX>
        <locationY>34</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YP_is_an_SU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>INC.Sign_up_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_SU</targetReference>
            </connector>
            <label>YP is an SU</label>
        </rules>
    </decisions>
    <formulas>
        <name>FindYesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>NCS Sales Tracker Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCS Sales Tracker Update SU/Paid</label>
    <loops>
        <name>Loop_through_all_Paid</name>
        <label>Loop through all Paid</label>
        <locationX>408</locationX>
        <locationY>183</locationY>
        <assignNextValueToReference>INC</assignNextValueToReference>
        <collectionReference>AllPaidINCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sales_Tracker</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Paid_INC</name>
        <label>Lookup Paid INC</label>
        <locationX>216</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Paid</targetReference>
        </connector>
        <filters>
            <field>Contact_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Young Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_payment_received_WF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_Identifier__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SchoolID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeasonName</elementReference>
            </value>
        </filters>
        <object>Inclusion_Details__c</object>
        <outputReference>AllPaidINCs</outputReference>
        <queriedFields>Sign_up_date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Tracker</name>
        <label>Update Sales Tracker</label>
        <locationX>410</locationX>
        <locationY>310</locationY>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolActivity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid__c</field>
            <value>
                <elementReference>Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SU__c</field>
            <value>
                <elementReference>SU</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Paid_INC</startElementReference>
    <variables>
        <name>AllPaidINCs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>INC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>Paid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>SchoolActivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SU</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
