flows/Sales_Trakcer_Update_Paid_SU-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_1_to_Paid</name>
        <label>Add 1 to Paid</label>
        <locationX>101</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>Paid</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_YP_an_SU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_SU</name>
        <label>Add 1 to SU</label>
        <locationX>521</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>SU</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Incs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date</name>
        <label>Assign date</label>
        <locationX>227</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tracker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_YP_an_SU</name>
        <label>Is YP an SU?</label>
        <locationX>355</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Incs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YP_is_an_SU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inc.Sign_up_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_SU</targetReference>
            </connector>
            <label>YP is an SU</label>
        </rules>
    </decisions>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>Sales Trakcer Update Paid &amp; SU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Trakcer Update Paid &amp; SU</label>
    <loops>
        <name>Loop_Through_Incs</name>
        <label>Loop Through Incs</label>
        <locationX>230</locationX>
        <locationY>358</locationY>
        <assignNextValueToReference>Inc</assignNextValueToReference>
        <collectionReference>AllInc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Paid_Inc_Records</name>
        <label>Lookup Paid Inc Records</label>
        <locationX>59</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Incs</targetReference>
        </connector>
        <filters>
            <field>Contact_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Young Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_payment_received_WF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_Identifier__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SchoolID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeasonName</elementReference>
            </value>
        </filters>
        <object>Inclusion_Details__c</object>
        <outputReference>AllInc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sign_up_date__c</queriedFields>
        <queriedFields>Free_school_meals__c</queriedFields>
        <queriedFields>School_Type__c</queriedFields>
        <queriedFields>YP_in_or_recently_in_care__c</queriedFields>
        <queriedFields>Statement_of_SEN__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tracker</name>
        <label>s</label>
        <locationX>402</locationX>
        <locationY>486</locationY>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolActivityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSM__c</field>
            <value>
                <elementReference>FSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAC__c</field>
            <value>
                <elementReference>LAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRU__c</field>
            <value>
                <elementReference>PRU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid__c</field>
            <value>
                <elementReference>Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEN__c</field>
            <value>
                <elementReference>SEN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SU__c</field>
            <value>
                <elementReference>SU</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Paid_Inc_Records</startElementReference>
    <variables>
        <name>AllInc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>FSM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>Inc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>LAC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>Paid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>PRU</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>SchoolActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SEN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>SU</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
</Flow>
