flows/Sales_Tracker_Update-18.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_EOI</name>
        <label>Add to EOI</label>
        <locationX>537</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>NoEOIs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_EOIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date</name>
        <label>Assign date</label>
        <locationX>259</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Tracker_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>51</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>SalesTrackerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameSalesTracker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Tracker_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_an_existing_record</name>
        <label>Is there an existing record?</label>
        <locationX>51</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Assign_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrackerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tracker</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>NameSalesTracker</name>
        <dataType>String</dataType>
        <expression>LEFT({!SchoolName},40)&amp;TEXT(DAY({!Date}))&amp;&quot;/&quot;&amp;TEXT(MONTH({!Date}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!Date}))</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>Sales Tracker Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Tracker Update</label>
    <loops>
        <name>Loop_through_EOIs</name>
        <label>Loop through EOIs</label>
        <locationX>532</locationX>
        <locationY>331</locationY>
        <assignNextValueToReference>IncRecord</assignNextValueToReference>
        <collectionReference>AllInc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_EOI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Tracker_record</name>
        <label>Create new Tracker record</label>
        <locationX>258</locationX>
        <locationY>723</locationY>
        <assignRecordIdToReference>TrackerID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Tracker</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SalesTrackerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Activity__c</field>
            <value>
                <elementReference>SchoolActivity</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Tracker_ID</name>
        <label>Find Tracker ID</label>
        <locationX>53</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_existing_record</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolActivity</elementReference>
            </value>
        </filters>
        <object>Sales_Tracker__c</object>
        <outputAssignments>
            <assignToReference>Date</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrackerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_inclusion_details</name>
        <label>Lookup inclusion details</label>
        <locationX>81</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_EOIs</targetReference>
        </connector>
        <filters>
            <field>Contact_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Young Person</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_Identifier__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SchoolID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Tracker_criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeasonName</elementReference>
            </value>
        </filters>
        <object>Inclusion_Details__c</object>
        <outputReference>AllInc</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_school_activity</name>
        <label>Update school activity</label>
        <locationX>485</locationX>
        <locationY>591</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolActivity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Sales_Tracker_last_refreshed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>School_Activities__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tracker</name>
        <label>Update Tracker</label>
        <locationX>304</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Update_school_activity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOIs__c</field>
            <value>
                <elementReference>NoEOIs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSM__c</field>
            <value>
                <elementReference>NoFSMs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAC__c</field>
            <value>
                <elementReference>NoInCare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Authority__c</field>
            <value>
                <elementReference>LocalAuthorityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRU__c</field>
            <value>
                <elementReference>NoPRUs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid__c</field>
            <value>
                <elementReference>NoPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SU__c</field>
            <value>
                <elementReference>NoSUs</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordUpdates>
    <startElementReference>Lookup_inclusion_details</startElementReference>
    <textTemplates>
        <name>Creationerror</name>
        <text>This creation has failed:

Name: {!SalesTrackerName}
School Name: {!SchoolName}
School Activity: {!SchoolActivity}
EOI {!NoEOIs}
Paid: {!NoPaid}
SU: {!NoSUs}</text>
    </textTemplates>
    <variables>
        <name>AllInc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EOIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EOITarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>IncRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inclusion_Details__c</objectType>
    </variables>
    <variables>
        <name>LocalAuthorityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoEOIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>NoFSMs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>NoInCare</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>NoPaid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>NoPRUs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>NoSUs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>PaidTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>SalesTrackerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolActivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeasonStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SUTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>TrackerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
