flows/Sales_Tracker_Update-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_1_to_paid</name>
        <label>Add 1 to paid</label>
        <locationX>706</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>NoPaid</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_YP_SU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_SU</name>
        <label>Add 1 to SU</label>
        <locationX>395</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>NoSUs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_EOIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_EOI</name>
        <label>Add to EOI</label>
        <locationX>358</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>NoEOIs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_YP_Paid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date</name>
        <label>Assign date</label>
        <locationX>405</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tracker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>161</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>SalesTrackerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameSalesTracker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Tracker_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_YP_Paid</name>
        <label>Has YP Paid?</label>
        <locationX>550</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>Loop_through_EOIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YP_Has_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YP.Date_First_Payment_Received_Workflow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_paid</targetReference>
            </connector>
            <label>YP Has paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_existing_record</name>
        <label>Is there an existing record?</label>
        <locationX>161</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Assign_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrackerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_date</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_YP_SU</name>
        <label>Is YP SU?</label>
        <locationX>589</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Loop_through_EOIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YP_is_SU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YP.Date_First_Payment_Received_Workflow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YP.NCS_or_TCN_registration_complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_SU</targetReference>
            </connector>
            <label>YP is SU</label>
        </rules>
    </decisions>
    <formulas>
        <name>NameSalesTracker</name>
        <dataType>String</dataType>
        <expression>{!SchoolName}&amp;TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Sales Tracker Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Tracker Update</label>
    <loops>
        <name>Loop_through_EOIs</name>
        <label>Loop through EOIs</label>
        <locationX>144</locationX>
        <locationY>220</locationY>
        <assignNextValueToReference>YP</assignNextValueToReference>
        <collectionReference>EOIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_EOI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Tracker_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Tracker_record</name>
        <label>Create new Tracker record</label>
        <locationX>328</locationX>
        <locationY>690</locationY>
        <assignRecordIdToReference>TrackerID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SalesTrackerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Activity__c</field>
            <value>
                <elementReference>SchoolActivity</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Numbers</name>
        <label>Find Numbers</label>
        <locationX>141</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_EOIs</targetReference>
        </connector>
        <filters>
            <field>Dupe_exclude_from_processes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>NCS_Application_Primary_Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SeasonName</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCS_Zone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>School__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>EOIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_First_Payment_Received_Workflow__c</queriedFields>
        <queriedFields>NCS_or_TCN_registration_complete__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Tracker_ID</name>
        <label>Find Tracker ID</label>
        <locationX>154</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_existing_record</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchoolActivity</elementReference>
            </value>
        </filters>
        <object>Sales_Tracker__c</object>
        <outputAssignments>
            <assignToReference>Date</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrackerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tracker</name>
        <label>Update Tracker</label>
        <locationX>628</locationX>
        <locationY>538</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrackerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOIs__c</field>
            <value>
                <elementReference>NoEOIs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Authority__c</field>
            <value>
                <elementReference>LocalAuthorityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid__c</field>
            <value>
                <elementReference>NoPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SU__c</field>
            <value>
                <elementReference>NoSUs</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Tracker__c</object>
    </recordUpdates>
    <startElementReference>Find_Numbers</startElementReference>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EOIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EOITarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>LocalAuthorityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoEOIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>NoPaid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>NoSUs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>PaidTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>SalesTrackerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolActivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SeasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SUTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>TrackerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
