flows/SFEC_Rollup_on_SF_Job_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StepForwardEventComponentCount</name>
        <label>StepForwardEventComponentCount</label>
        <locationX>316</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>SFECcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopStepForwardEventComponents</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SFEC Rollup on SF Job Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFEC Rollup on SF Job Flow</label>
    <loops>
        <name>LoopStepForwardEventComponents</name>
        <label>LoopStepForwardEventComponents</label>
        <locationX>97</locationX>
        <locationY>202</locationY>
        <assignNextValueToReference>StepForwardEventComponentLoopVariable</assignNextValueToReference>
        <collectionReference>varStepForwardEventComponentsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>StepForwardEventComponentCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>StepForwardJobUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Step_Forward_Event_Components</name>
        <label>Step Forward Event Components</label>
        <locationX>99</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopStepForwardEventComponents</targetReference>
        </connector>
        <filters>
            <field>Step_Forward_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StepForwardJobid</elementReference>
            </value>
        </filters>
        <object>Step_Forward_Event_Component__c</object>
        <outputReference>varStepForwardEventComponentsCollection</outputReference>
        <queriedFields>Step_Forward_Job__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>StepForwardJobUpdate</name>
        <label>StepForwardJobUpdate</label>
        <locationX>99</locationX>
        <locationY>304</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StepForwardJobid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Step_Forward__c</field>
            <value>
                <elementReference>SFECcount</elementReference>
            </value>
        </inputAssignments>
        <object>Step_Forward_Job__c</object>
    </recordUpdates>
    <startElementReference>Step_Forward_Event_Components</startElementReference>
    <variables>
        <name>SFECcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StepForwardEventComponentLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Step_Forward_Event_Component__c</objectType>
    </variables>
    <variables>
        <description>This Variable is used to hold Step forward Job ID</description>
        <name>StepForwardJobid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to collect all Step Forward Components related to single Step Forward Job</description>
        <name>varStepForwardEventComponentsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Step_Forward_Event_Component__c</objectType>
    </variables>
</Flow>
