flows/Update_NCS_Dates-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_error_email</name>
        <label>Send error email</label>
        <locationX>853</locationX>
        <locationY>347</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Erroremail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>There has been an error updating some records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joey.crone@the-challenge.org,mert.walley@the-challenge.org,efrosyni.panayiotou@the-challenge.org,sam.wade@the-challenge.org,emma.anderson@the-challenge.org</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>add_1_to_call_count</name>
        <label>add 1 to call count</label>
        <locationX>76</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>CallCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Date_Last_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_call_count_INC</name>
        <label>Add 1 to call count INC</label>
        <locationX>567</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>CallCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuccessCallCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Call_made</name>
        <label>Any Call made?</label>
        <locationX>76</locationX>
        <locationY>628</locationY>
        <defaultConnector>
            <targetReference>Update_date_first_Call_attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Call_has_been_made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateFirstCallAttempt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Call_Successful</targetReference>
            </connector>
            <label>Call has been made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Call_made_INC</name>
        <label>Any Call made?</label>
        <locationX>896</locationX>
        <locationY>65</locationY>
        <defaultConnector>
            <targetReference>Update_first_call_attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Call_made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateFirstCallAttempt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_was_Successful_INC</targetReference>
            </connector>
            <label>Call made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_was_Successful_INC</name>
        <label>Call was Successful INC</label>
        <locationX>1116</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Call_was_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact No comm sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact Left no response comm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Left voicemail No comm sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Left voicemail Left no response comm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Successful_call_INC</targetReference>
            </connector>
            <label>Call Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Successful_call_INC</name>
        <label>First Successful call?</label>
        <locationX>1234</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Update_date_first_successful_call_INC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>First_successful_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateFirstSuccessufulCall</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Successful_Call_Count</targetReference>
            </connector>
            <label>First successful call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NCS_or_INC</name>
        <label>Is NCS or INC</label>
        <locationX>249</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_ncs_app</targetReference>
            </connector>
            <label>NCS</label>
        </rules>
        <rules>
            <name>INC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task_Contact</targetReference>
            </connector>
            <label>INC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful_Call_Already_made</name>
        <label>Successful Call Already made?</label>
        <locationX>649</locationX>
        <locationY>621</locationY>
        <defaultConnector>
            <targetReference>Update_Date_first_Successful_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Successful_Call_already_madeQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateFirstSuccessufulCall</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Successful Call already made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Call_Successful</name>
        <label>Was Call Successful?</label>
        <locationX>409</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Call_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact Wrong number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact Dead number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact Unable to leave Voicemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Left voicemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_Call_Already_made</targetReference>
            </connector>
            <label>Call Successful</label>
        </rules>
    </decisions>
    <formulas>
        <name>add1</name>
        <dataType>Number</dataType>
        <expression>{!CallCount}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update activity details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update activity details</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Inclusion_details</name>
        <label>Lookup Inclusion details</label>
        <locationX>135</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_NCS_or_INC</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <object>Inclusion_Details__c</object>
        <outputAssignments>
            <assignToReference>CallCount</assignToReference>
            <field>Call_count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DateFirstCallAttempt</assignToReference>
            <field>Date_of_first_MASI_call_attempt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DateFirstSuccessufulCall</assignToReference>
            <field>Date_of_first_successful_MASI_call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SuccessCallCount</assignToReference>
            <field>Successful_MASI_call_count__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_ncs_app</name>
        <label>lookup ncs app</label>
        <locationX>74</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <object>NCS_Application__c</object>
        <outputAssignments>
            <assignToReference>DateFirstCallAttempt</assignToReference>
            <field>Date_of_first_call_attempt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DateFirstSuccessufulCall</assignToReference>
            <field>Date_of_first_successful_call_attempt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CallCount</assignToReference>
            <field>Total_Call_Attempts__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>YoungPerson__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_count</name>
        <label>Update count</label>
        <locationX>734</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Any_Call_made_INC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_count__c</field>
            <value>
                <elementReference>CallCount</elementReference>
            </value>
        </inputAssignments>
        <object>Inclusion_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_date_first_Call_attempt</name>
        <label>Update date first Call attempt</label>
        <locationX>273</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Was_Call_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_first_call_attempt__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>NCS_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_first_Successful_Call</name>
        <label>Update Date first Successful Call</label>
        <locationX>655</locationX>
        <locationY>464</locationY>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_first_successful_call_attempt__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>NCS_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_date_first_successful_call_INC</name>
        <label>Update date first successful call INC</label>
        <locationX>1291</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Update_Successful_Call_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_first_successful_MASI_call__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Inclusion_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Last_Activity</name>
        <label>Update Date Last Activity</label>
        <locationX>78</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Any_Call_made</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_latest_activity__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Due_Date_Override__c</field>
            <value>
                <elementReference>TaskDueDates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Call_Attempts__c</field>
            <value>
                <elementReference>CallCount</elementReference>
            </value>
        </inputAssignments>
        <object>NCS_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_first_call_attempt</name>
        <label>Update first call attempt</label>
        <locationX>998</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Call_was_Successful_INC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_first_MASI_call_attempt__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Inclusion_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Successful_Call_Count</name>
        <label>Update Successful Call Count</label>
        <locationX>1090</locationX>
        <locationY>478</locationY>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Successful_MASI_call_count__c</field>
            <value>
                <elementReference>SuccessCallCount</elementReference>
            </value>
        </inputAssignments>
        <object>Inclusion_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_Contact</name>
        <label>Update task Contact</label>
        <locationX>409</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Add_1_to_call_count_INC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_with_Contact</name>
        <label>Update Task with Contact</label>
        <locationX>74</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>add_1_to_call_count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_error_email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Lookup_Inclusion_details</startElementReference>
    <textTemplates>
        <name>EmailBeta</name>
        <text>Contact: {!ContactID}
NCS APP: {!RelatedID}</text>
    </textTemplates>
    <textTemplates>
        <name>Erroremail</name>
        <text>Hello,

One of the contacts that has recently been called has not updated the task and NCS Application/Inclusion Details records correctly. The details are shown below:

Date Time: {!$Flow.CurrentDateTime}
Contact: https://na8.salesforce.com/{!ContactID}
Oucome of call: {!CallResult}

Please note that this is an automated message from Salesforce. Please do not reply.</text>
    </textTemplates>
    <textTemplates>
        <name>ValueOfVariables</name>
        <text>callcount={!CallCount}
NCS ID={!RelatedID}
ContactID = {!ContactID}</text>
    </textTemplates>
    <variables>
        <name>CallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CallResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CallTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateFirstCallAttempt</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateFirstSuccessufulCall</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuccessCallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TaskDueDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskDueDates</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeleSalesType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
