flows/Update_bookings-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_DateTimes</name>
        <label>Assign DateTimes</label>
        <locationX>1030</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertToStartDT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertToEndDT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_a_group_event</name>
        <label>Is a group event</label>
        <locationX>48</locationX>
        <locationY>249</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindUsage</targetReference>
            </connector>
            <label>Is Group Event</label>
        </rules>
        <rules>
            <name>Not_Group_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_choice</targetReference>
            </connector>
            <label>Not Group Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usage_Found</name>
        <label>Usage Found?</label>
        <locationX>558</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Usage_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_booking</targetReference>
            </connector>
            <label>Usage already exists</label>
        </rules>
        <rules>
            <name>No_Usage_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateUsage</targetReference>
            </connector>
            <label>No Usage found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Contact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012C0000000QIU7</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Teamlookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Wave__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaveID</elementReference>
            </value>
        </filters>
        <object>Team__c</object>
        <outputAssignments>
            <assignToReference>Team</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UsageRT</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>2016</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner_or_Venue__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>UsageRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsageTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UsageTypeLookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>2015</stringValue>
            </value>
        </filters>
        <object>Usage_Type__c</object>
        <outputAssignments>
            <assignToReference>UsageTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Wave</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>PM_Check__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Wave__c</object>
        <outputAssignments>
            <assignToReference>WaveID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YourBookings</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filters>
            <field>PM_Check__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputAssignments>
            <assignToReference>BookingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ConvertToEndDT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(YEAR({!BookingDate}))+&quot;-&quot;+
TEXT(MONTH({!BookingDate}))+&quot;-&quot;+
TEXT(DAY({!BookingDate}))+&quot; &quot;
+{!End_Time}&amp;&quot;:00&quot;)-(1/24)</expression>
    </formulas>
    <formulas>
        <name>ConvertToStartDT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(YEAR({!BookingDate}))+&quot;-&quot;+
TEXT(MONTH({!BookingDate}))+&quot;-&quot;+
TEXT(DAY({!BookingDate}))+&quot; &quot;
+{!Start_Time}&amp;&quot;:00&quot;)-(1/24)</expression>
    </formulas>
    <interviewLabel>Update bookings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update bookings</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateUsage</name>
        <label>CreateUsage</label>
        <locationX>684</locationX>
        <locationY>88</locationY>
        <assignRecordIdToReference>UsageID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_booking</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>xxx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>UsageRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_or_Venue__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Usage_Type</name>
        <label>Find Usage Type</label>
        <locationX>47</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_group_event</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageTypeName</elementReference>
            </value>
        </filters>
        <object>Usage_Type__c</object>
        <outputAssignments>
            <assignToReference>GroupEvent</assignToReference>
            <field>Group_Event__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindUsage</name>
        <label>FindUsage</label>
        <locationX>373</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usage_Found</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Partner_or_Venue__c</object>
        <outputAssignments>
            <assignToReference>UsageID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_booking</name>
        <label>Lookup booking</label>
        <locationX>856</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DateTimes</targetReference>
        </connector>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Team</elementReference>
            </value>
        </filters>
        <filters>
            <field>Usage_RT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wave__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaveID</elementReference>
            </value>
        </filters>
        <object>Booking__c</object>
        <outputAssignments>
            <assignToReference>BookingDate</assignToReference>
            <field>Booking_Date_Formula__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BookingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>1212</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_or_Venue__c</field>
            <value>
                <elementReference>UsageID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_date_time_should_the_wave_arrive__c</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_date_time_should_the_wave_leave__c</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Find_Bookings</name>
        <label>Find Bookings</label>
        <locationX>45</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Usage_Type</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>Please Select the details of the wave that you&apos;d like to book</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Usage_Type</name>
            <choiceReferences>UsageRT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Usage Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Find_Wave</name>
            <choiceReferences>Wave</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wave</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Time</name>
            <dataType>String</dataType>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>(HH:MM)</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please enter in format HH:MM</errorMessage>
                <formulaExpression>LEN({!Start_Time})=5</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>String</dataType>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>(HH:MM)</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please enter in format HH:MM</errorMessage>
                <formulaExpression>LEN({!End_Time})=5</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>1304</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SUCCESSX</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Congratulations! Click finish to return to the account&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Team_choice</name>
        <label>Team choice</label>
        <locationX>214</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindUsage</targetReference>
        </connector>
        <fields>
            <name>Teamselectionc</name>
            <fieldText>Please select a team</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TeamL</name>
            <choiceReferences>Teamlookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Find_Bookings</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>BookingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bookings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking__c</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Team</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsageRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsageTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WaveID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
