flows/Update_NCS_Dates-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_1_to_call_count</name>
        <label>add 1 to call count</label>
        <locationX>42</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>CallCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Date_Last_Activity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Call_made</name>
        <label>Any Call made?</label>
        <locationX>223</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Update_date_first_Call_attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Call_has_been_made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateFirstCallAttempt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Call_Successful</targetReference>
            </connector>
            <label>Call has been made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful_Call_Already_made</name>
        <label>Successful Call Already made?</label>
        <locationX>762</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Update_Date_first_Successful_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Successful_Call_already_madeQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateFirstSuccessufulCall</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Successful Call already made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Call_Successful</name>
        <label>Was Call Successful?</label>
        <locationX>517</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Call_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact Wrong number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact Dead number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No contact Unable to leave Voicemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Left voicemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_Call_Already_made</targetReference>
            </connector>
            <label>Call Successful</label>
        </rules>
    </decisions>
    <formulas>
        <name>add1</name>
        <dataType>Number</dataType>
        <expression>{!CallCount}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update NCS Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update NCS Dates</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_ncs_app</name>
        <label>lookup ncs app</label>
        <locationX>40</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_1_to_call_count</targetReference>
        </connector>
        <filters>
            <field>Is_this_for_the_primary_Season__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>YoungPerson__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>NCS_Application__c</object>
        <outputAssignments>
            <assignToReference>DateFirstCallAttempt</assignToReference>
            <field>Date_of_first_call_attempt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DateFirstSuccessufulCall</assignToReference>
            <field>Date_of_first_successful_call_attempt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NCSAppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CallCount</assignToReference>
            <field>Total_Call_Attempts__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_date_first_Call_attempt</name>
        <label>Update date first Call attempt</label>
        <locationX>363</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Was_Call_Successful</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NCSAppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_first_call_attempt__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>NCS_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_first_Successful_Call</name>
        <label>Update Date first Successful Call</label>
        <locationX>760</locationX>
        <locationY>149</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NCSAppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_first_successful_call_attempt__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>NCS_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Last_Activity</name>
        <label>Update Date Last Activity</label>
        <locationX>45</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Any_Call_made</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NCSAppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_latest_activity__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Due_Date_Override__c</field>
            <value>
                <elementReference>TaskDueDates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Call_Attempts__c</field>
            <value>
                <elementReference>CallCount</elementReference>
            </value>
        </inputAssignments>
        <object>NCS_Application__c</object>
    </recordUpdates>
    <startElementReference>lookup_ncs_app</startElementReference>
    <textTemplates>
        <name>ValueOfVariables</name>
        <text>callcount={!CallCount}
NCS ID={!NCSAppID}
ContactID = {!ContactID}</text>
    </textTemplates>
    <variables>
        <name>CallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CallResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CallTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateFirstCallAttempt</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateFirstSuccessufulCall</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NCSAppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskDueDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskDueDates</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
