flows/WheelChair_User_Transport-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_YP_a_Wheelchair_User</name>
        <label>Is YP a Wheelchair User</label>
        <locationX>335</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Wheelchair_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LogisticalNeeds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wheelchair transport required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Team_Record</targetReference>
            </connector>
            <label>Is Wheelchair User</label>
        </rules>
    </decisions>
    <interviewLabel>WheelChair User Transport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WheelChair User Transport</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Inclusion_Details</name>
        <label>Lookup Inclusion Details</label>
        <locationX>140</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_YP_a_Wheelchair_User</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Inclusion_Details__c</object>
        <outputAssignments>
            <assignToReference>LogisticalNeeds</assignToReference>
            <field>Logistical_needs__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Team_Record</name>
        <label>Update Team Record</label>
        <locationX>378</locationX>
        <locationY>330</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Wheelchair_User_for_Transport__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Team__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Inclusion_Details</startElementReference>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogisticalNeeds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
